@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~bootstrap/scss/bootstrap';

body {
  background: rgb(91, 90, 93);
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

.container {
  margin-top: 30px;
}

.cardbody {
  background: #000000d0;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  color: white;
}
